<!DOCTYPE html>
<html>
  <head>
    <title>Entry Management</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css"
    />
    <link rel="stylesheet" href="/stylesheet/app.css" />
  </head>
  <body
    style='background-color: #321F80;
  background-size: 50% 100%;'
  >
    <div class="ui fixed light menu">
      <div class="ui container" >
        <img src="images/logo2.png" alt="Smiley face" height="35" width="120" style="padding-top:7px; padding-bottom: 7px"  />
        <a class="item" href="/">
          <b>Home</b>
        </a>
        <a class="item" href="/register">
          <b>Register</b>
        </a>
        <a class="item" href="/checkin">
          <b>Check-IN</b>
        </a>
        <a class="item" href="/checkout">
          <b>Check-OUT</b>
        </a>
      </div>
    </div>
          <div class="container" style="text-align: center; color: white;padding:15%; font-size:4.5em;
      font-weight: bolder; font-family: roboto"><p>Welcome to Entry Management System</p>
    </div>

  </body>
</html>
